{# field--details.html.twig #}
{%
  set classes = [
    'details-item',
    'details-item-' ~ field_name|clean_class,
  ]
%}
<details{{ attributes.addClass(classes) }}>
  <summary{{ title_attributes }}>{{ label }}</summary>
  <div class="details-item__content">
    {% for item in items %}
      <div{{ item.attributes.addClass('details-item__content-item') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
</details>