<footer>
	<div class="uk-section">
		<div class="uk-container uk-margin-top">
			<div uk-grid>
				<div class="uk-width-2-3@m">
					{{ page.footer_left }}
				</div>
				<div class="uk-width-1-3@m uk-flex uk-flex-right@m">
                    {% if all_icons_show %}
                        <div class="uk-flex uk-flex-column social-media-list">
                            {% for item in social_media %}
                                <div>
                                   <a href="{{ item.link }}" class="color-{{ item.name }} text-decoration-none">
                                       <i class="fab {% if item.name == 'twitter' %}fa-x-{{ item.name }}{% else %}fa-{{ item.name }}{% endif %}"></i> 
                                       {{ item.name|capitalize }}
                                   </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                       {{ page.footer_right }}
                   {% endif %}
                </div>
			</div>
			<hr class="uk-margin-large">
			<div class="uk-container">
				<div class="uk-flex uk-flex-middle" uk-grid>
					<div class="uk-width-2-3@m uk-text-small">
						{{ page.bottom_left }}
					</div>
					<div class="uk-width-1-3@m uk-flex uk-flex-right uk-visible@m">
						{{ page.bottom_right }}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>