{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form id="contact-form" {{ attributes.addClass('uk-form', 'uk-grid-small', 'uk-margin-medium-top', 'uk-grid') }} uk-grid>
  {{ children }}
</form>
