<header>
    <div class="uk-section uk-padding-remove-vertical">
        <nav class="uk-navbar-container {{ is_front ? 'uk-navbar-transparent' : '' }} uk-sticky-below uk-sticky-fixed" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
            <div class="uk-container" data-uk-navbar="">
                <div class="uk-navbar-left">
                    {{ page.brands }}
                    <div class="uk-visible@m">
                    {{ page.navbar_left }}
                    </div>
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item uk-visible@m in-optional-nav">
                        {% if page.navbar_right %}
                            {{ page.navbar_right }}
                        {% else %}
                            <a href="/user/login" class="uk-button uk-button-text">
                                {{ 'Log in'|t }}
                                <i class="fas fa-arrow-circle-right uk-margin-small-left"></i>
                            </a>
                            <a href="/user/register" class="uk-button uk-button-primary">
                                {{ 'Sign up'|t }}
                                <i class="fas fa-arrow-circle-right uk-margin-small-left"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="uk-navbar-item in-mobile-nav uk-hidden@m">
                        <a class="uk-button" href="#modal-full" uk-toggle="" role="button">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div id="modal-full" class="uk-modal-full" data-uk-modal="" >
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport="">
        <a class="uk-modal-close-full uk-button"><i class="fas fa-times"></i></a>
        <div class="uk-width-large uk-padding-large">
            {{ page.navbar_left }}
        </div>
    </div>
</div>