{#
/**
 * @file
 * Theme override to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 */
#}

{% if url %}
  {{ link(image, url) }}
{% else %}
  {{ image|set_attribute('class', 'uk-width-1-1 uk-border-rounded') }}
{% endif %}
