{% include '@hisse/header.html.twig' %}
{% if not is_front %}
	<div class="uk-section uk-padding-remove-vertical in-equity-breadcrumb">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-1">
					{{ page.breadcrumb }}
				</div>
			</div>
		</div>
	</div>
{% endif %}
<main role="main">
	{% if is_front %}
		{% include '@hisse/slideshow.html.twig' %}
	{% endif %}
	{% if page.content_top_blocks and is_front %}
		{{ page.content_top_blocks }}
	{% endif %}
	{% if page.content_top %}
		{{ page.content_top }}
	{% endif %}
	{% if not is_front %}
		<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
		<div class="uk-section uk-margin-small-top">
			<div class="uk-container">
				<div uk-grid>
					<div class="uk-width-expand@m">
						{{ page.content }}
					</div>
					{% if page.sidebar %}
						<div class="uk-width-1-3@m">
							{{ page.sidebar }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
</main>
{% include '@hisse/footer.html.twig' %}
<a href="#" class="to-top uk-visible@m uk-animation-slide-top" data-uk-scroll="" style="opacity: 1;">
	Top<i class="fas fa-chevron-up"></i>
</a>
<div id="modal-full" class="uk-modal-full" uk-modal>
	<div class="uk-modal-dialog uk-modal-body">
		<a class="uk-modal-close-full uk-button"><i class="fas fa-times"></i></a>
		<div class="uk-width-large uk-padding-large">
			{{ page.menu_mobile }}
		</div>
	</div>
</div>
{{ kint(slides) }}