{#
/**
* @file
* Theme override to display a region.
*
* Available variables:
* - content: The content for this region, typically blocks.
* - attributes: HTML attributes for the region <div>.
  * - region: The name of the region variable as defined in the theme's
  *   .info.yml file.
  *
  * @see template_preprocess_region()
  */
  #}

  {% if content %}
    <div{{ attributes.addClass('uk-section', 'uk-section-primary', 'uk-preserve-color', 'in-equity-1') }}>
      <div class="uk-container">
        <div class="uk-grid-match uk-grid-medium uk-child-width-1-4@m uk-child-width-1-2 uk-margin-bottom" uk-grid>
          {{ content }}
        </div>
      </div>
    </div>
  {% endif %}