<div class="uk-section uk-padding-remove-vertical in-slideshow-gradient">
	<div class="uk-light in-slideshow uk-background-contain" id="particles-js" data-src="{{ directory }}/img/in-equity-decor-1.svg" data-uk-img="" data-uk-slideshow="">
		<hr>
		<ul class="uk-slideshow-items">
			{% for key, slide in slides %}
				<li class="uk-flex uk-flex-middle">
					<div class="uk-container">
						<div class="uk-grid-large uk-flex-middle" data-uk-grid="">
							<div class="uk-width-1-2@s in-slide-text">
								{{ slide.text|raw }}
							</div>
							<div class="in-slide-img">
								<img alt="image-slide"  data-src="{{ slide.image }}" data-uk-img="">
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>