{#
/**
* @file
* Theme override to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
*   - attributes: The row's HTML attributes.
*   - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
*   used on rows.
*
* @see template_preprocess_views_view_unformatted()
*/
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="in-blog-1" data-uk-grid>
  {% for key, row in rows %}
    {%
    set row_classes = [
    default_row_class ? 'views-row',
    'in-stretch'
    ]
    %}
    {% set image = view.style_plugin.getField(key, 'field_image') %}
    {% set link = view.style_plugin.getField(key, 'link')|render|striptags|trim %}
    {% set label = view.style_plugin.getField(key, 'title')|render|striptags|trim %}
    {% set summary = view.style_plugin.getField(key, 'body')|render|striptags|trim %}
    {% set author_picture = view.style_plugin.getField(key, 'uid_1') %}
    {% set author = view.style_plugin.getField(key, 'uid')|render|striptags|trim %}
    {% set date = view.style_plugin.getField(key, 'created')|render|striptags|trim %}
    {% set tag = view.style_plugin.getField(key, 'field_tags')|render|striptags|trim %}
    {% set link = view.style_plugin.getField(key, 'view_node')|render|striptags|trim %}
    <div{{ row.attributes.addClass(row_classes) }}>
      <article class="uk-card uk-card-default uk-border-rounded">
        <div class="uk-card-media-top">
          {{ image }}
        </div>
        <div class="uk-card-body">
          <h3>
          <a href="{{ link }}" class="link-primary text-decoration-none">
            {{ label }}
          </a>
          </h3>
          <p>
            {{ summary }}
          </p>
          <div class="uk-flex">
            {% if '<img' in author_picture|render %}
              <div class="uk-margin-small-right">
                {{ author_picture }}
              </div>
            {% endif %}
            <div class="uk-flex uk-flex-middle">
              <p class="uk-text-small uk-text-muted uk-margin-remove">
                {{ author }}
                <span class="uk-margin-small-left uk-margin-small-right">•</span>
              </p>
            </div>
            <div class="uk-flex uk-flex-middle">
              <p class="uk-text-small uk-text-muted uk-margin-remove">
                {{ date }}
              </p>
            </div>
          </div>
        </div>
        <div class="uk-card-footer uk-clearfix">
          <div class="uk-float-left">
            <span class="uk-label uk-label-warning in-label-small">{{ tag }}</span>
          </div>
          <div class="uk-float-right">
            <a href="{{ link }}" class="uk-button uk-button-text">
              Read more
              <i class="fas fa-arrow-circle-right uk-margin-small-left"></i>
            </a>
          </div>
        </div>
      </article>
    </div>
  {% endfor %}
</div>